@import '../../styles/colours';
@import '../../styles/elements';

html {
    line-height: 200%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}

body {
    background-color: @grey100;
    ::-webkit-scrollbar
    {
        width: 12px;  /* for vertical scrollbars */
        height: 12px; /* for horizontal scrollbars */
    }

    ::-webkit-scrollbar-track
    {
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-thumb
    {
        background: rgba(0, 0, 0, 0.1);
        outline: 1px solid @invert;
    }
}

.table > thead>tr>th {
    border-bottom: none;
}

table {
    tbody {
        tr {
            &:hover {
                .transition;
                background-color: @invert !important;
                border-top: 2px solid @primary !important;
                color: @invert-font;
                cursor: pointer;
            }
        }
    }
}

.main-content {
    padding: 0 0 3em 0;
    .container {
        background-color: @white;
        padding: 0;
    }
    .tab-title-wrapper {
        width: 100%;
        overflow-y: hidden;
        overflow-x: auto;
        height: 4.6em;
        white-space: nowrap;
        @media (max-width : 480px) {
            height: 4.4em;
        }
        @media (max-width : 724px) {
            height: 4.1em;
        }
    }
}

.text-center {
    text-align: center;
}

.btn-primary {
    background-color: @primary;
    &:hover {
        background-color: @primary-dark;
    }
}

.btn-danger {
    background-color: @danger;
    &:hover {
        background-color: @danger-dark;
    }
}

.btn-success {
    background-color: @success;
    &:hover {
        background-color: @success-dark;
    }
}

.text-danger {
    color: @danger;
}
